@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANSans";
  src: url("/fonts/IRANSansX-Light.ttf") format("truetype");
  src: url("/fonts/IRANSansXFaNum-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* تعریف متغیرهای CSS برای حالت روشن */
  --primary: #8cff45;
  --primary-foreground: #232323;
  --secondary: #f2f2f2;
  --secondary-foreground: #232323;
  --background: #f2f2f2;
  --foreground: #232323;
  --subBg: #e0e0e0;
  --subBg2: #c8c8c8;
  --subText: #666666;
  --muted: #808080;
  --muted-foreground: #666666;
  --accent: #a08cff;
  --accent-foreground: #232323;
  --border: #d1d1d1;
  --secondary-light: #f5f5f5;
  --secondary-light2: #ebebeb;
  --blur-primary: #8cff4552;
  --blur-blue: #7569ff52;
  --danger: #ff4d4d;
  --radius: 0.625rem;
  --card: #ffffff;
  --card-foreground: #232323;
  --popover: #ffffff;
  --popover-foreground: #232323;
  --destructive: #ff4d4d;
  --input: #e2e2e2;
  --ring: #a0a0a0;
}

.dark {
  /* تعریف متغیرهای CSS برای حالت تاریک */
  --primary: #8cff45;
  --primary-foreground: #232323;
  --secondary: #232323;
  --secondary-foreground: #f2f2f2;
  --background: #232323;
  --foreground: #f2f2f2;
  --subBg: #363636;
  --subBg2: #4a4a4a;
  --subText: #aaaaaa;
  --muted: #b3b3b3;
  --muted-foreground: #aaaaaa;
  --accent: #a08cff;
  --accent-foreground: #f2f2f2;
  --border: #2e2e2e;
  --secondary-light: #2d2d2d;
  --secondary-light2: #393939;
  --blur-primary: #8cff4552;
  --blur-blue: #7569ff52;
  --danger: #ff4d4d;
  --card: #2d2d2d;
  --card-foreground: #f2f2f2;
  --popover: #2d2d2d;
  --popover-foreground: #f2f2f2;
  --destructive: #ff4d4d;
  --input: #363636;
  --ring: #4a4a4a;
}

body {
  font-family: "IRANSans", sans-serif;
  direction: rtl;
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.rtl {
  direction: rtl;
}
